$color_1: #E1563F;
$color_2: #F23818;
$color_3: #E7624B;
$color_4: #F67862;
$color_5: #3B3B3D;//dark grey
$color_6: lighten(#3B3B3D,30);//light grey
$polite_white: #F2F2F2;
$light_alert: #DE5452;
$dark_alert: #BC443F;

$font_family_1: 'Roboto', Helvetica, Arial, sans-serif;
$font_family_2: 'Montserrat', 'Helvetica Neue', 'Arial Bold', sans-serif;

